<div class="mainContent">
    <h2>Add exercise to {{(workoutProgram$ | async)?.name}}</h2>
    <form [formGroup]="exerciseForm" (ngSubmit)="addExercise(exerciseForm.value)">
        <div class="form-group">
            <label for="exercise">Exercise</label>
            <input formControlName="exercise" type="text" class="form-control" name="exercise" placeholder="Exercise">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input formControlName="description" type="text" class="form-control" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <label for="set">Set</label>
            <input formControlName="set" type="number" class="form-control" name="set" placeholder="Set"
            min="1" max="20">
        </div>
        <div class="form-group">
            <label for="reps">Reps/time</label>
            <input formControlName="reps" type="text" class="form-control" name="reps" placeholder="Reps/time">
        </div>
        <button type="submit" class="btn btn-primary">Add exercise to workout program</button>
    
    </form>

    
</div>