<body>
<header class="header">
  <div class="container">
    <nav class="navbar justify-content-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/createAccount" routerLinkActive="active">Create account</a>
        </li>    
        <li class="nav-item">
          <a  *ngIf="authService.isLoggedIn()" (click)="authService.logout()" class="nav-link" routerLink="/" routerLinkActive="active">Logout</a>
        </li>

        <li class="nav-item">
          <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/login" routerLinkActive="active">Log in</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/workoutPrograms" routerLinkActive="active">Workout programs</a>
        </li>
        <li class="nav-item">
          <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/workLog" routerLinkActive="active">Work log</a>
        </li>
      </ul>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a *ngIf="authService.isLoggedIn()" class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Hello {{authService.getCurrentUser()?.firstName}}</a>
        </li>
      </ul>

    </nav>
  </div>

</header>
</body>
