<div class="mainContent">
    <h2>Create account:</h2>
    
    <form [formGroup]="registerForm" (ngSubmit)="authService.register(registerForm.value)">
        <div class="form-group">
            <label for="inputFirstName">First name</label>
            <input formControlName="firstName" type="text" class="form-control" name="inputFirstName" placeholder="Enter first name" autofocus>
        </div>
        <div class="form-group">
            <label for="inputLastName">Last name</label>
            <input formControlName="lastName" type="text" class="form-control" name="inputLastName" placeholder="Enter last name">
        </div>
        
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input formControlName="emailAddress" autocomplete="off" type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone.</small>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input formControlName="password" autocomplete="off" type="password" class="form-control" name="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary"  [disabled]="!registerForm.valid">Create account</button>
    </form>
</div>
