.testClass {
    width: 100%;
    height: 400px;
    outline: 0;
}

.testClass .picsum-img-wrapper {
    display: flex;
    justify-content: center;
    height: 400px;
    overflow: hidden;
}

.testClass .picsum-img-wrapper img {
    height: 100%;
    width: auto;
    max-width: none;
}