.wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
}

.minWidth{
  min-width: 80px;
}

.maxWidth{
}

ul {
  padding-inline-start: 0px;
}

.mat-divider {
  border-top-width: 2px;
}

.mat-raised-button:hover {
  background-color: #007bff;
  color: #ffffff;
}

mat-form-field {
  width: 100%;
}

.mat-line {
  color: black;
}
