<div class="mainContent">


  <h1>Workout programs</h1>
  <p></p>
  <div class="hola">
    <a routerLink="/createWorkoutProgram" routerLinkActive="active" class="btn btn-primary" role="button"><i
      class="fa fa-plus"></i>
      Create workout program</a>
    <mat-form-field appearance="outline">
      <mat-label>Filter workouts by name...</mat-label>
      <input matInput class="input-group" type="text" [formControl]="filter">
    </mat-form-field>
  </div>

  <p></p>
  <ul>
    <mat-list-item *ngFor="let workoutProgram of filteredWorkOutPrograms$ | async; let i = index">
      <div fxLayout="row" fxLayout.lt-sm="column" class="wrapper" [ngClass]="{'grey ' : isEven(i)}">
        <a fxFlex="85%" mat-line [routerLink]="['/viewWorkoutProgram', workoutProgram._id]">{{workoutProgram.name}} </a>
        <button fxFlex="15%" class="minWidth" *ngIf="authService.isLoggedIn()" mat-raised-button (click)="openDialog(workoutProgram._id)">I did this</button>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </ul>

</div>
